.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__item:nth-of-type(1) {
  display: var(--display1);
}

.feedback__item:nth-of-type(2) {
  display: var(--display2);
}

.feedback__item:nth-of-type(3) {
  display: var(--display3);
}

.feedback__item:nth-of-type(4) {
  display: var(--display4);
}
