.section-title {
  margin: 0 auto 37px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.01em;
  color: #192252;
}
