.header__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 36px;
  list-style: none;
}

@media (max-width: 1024px) {
  .header__links {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  .header__links {
    margin: 0 15px;
    gap: 2vw;
  }
}
@media (max-width: 425px) {
  .header__links {
    margin: 20px 15px;
    gap: 5vw;
  }
}
