.galary__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


.galary__radio:nth-of-type(1):checked ~ .galary__items {
  --bi1: url(../../../images/interiors-1.png);
  --bi2: url(../../../images/interiors-2.png);
  --bi3: url(../../../images/interiors-3.png);
  --bi4: url(../../../images/interiors-4.png);
}

.galary__radio:nth-of-type(2):checked ~ .galary__items {
  --bi1: url(../../../images/interiors-2.png);
  --bi2: url(../../../images/interiors-3.png);
  --bi3: url(../../../images/interiors-4.png);
  --bi4: url(../../../images/interiors-1.png);
}

.galary__radio:nth-of-type(3):checked ~ .galary__items {
  --bi1: url(../../../images/interiors-3.png);
  --bi2: url(../../../images/interiors-4.png);
  --bi3: url(../../../images/interiors-1.png);
  --bi4: url(../../../images/interiors-2.png);
}

.galary__radio:nth-of-type(4):checked ~ .galary__items {
  --bi1: url(../../../images/interiors-4.png);
  --bi2: url(../../../images/interiors-1.png);
  --bi3: url(../../../images/interiors-2.png);
  --bi4: url(../../../images/interiors-3.png);
}

.galary__radio:nth-of-type(1):checked ~ .galary__controls {
  --scale1: 1.5;
  --color1: #fab047;
  --scale2: 1;
  --color2: #fff;
  --scale3: 1;
  --color3: #fff;
  --scale4: 1;
  --color4: #fff;
  }

.galary__radio:nth-of-type(2):checked ~ .galary__controls {
  --scale1: 1;
  --color1: #fff;
  --scale2: 1.5;
  --color2: #fab047;
  --scale3: 1;
  --color3: #fff;
  --scale4: 1;
  --color4: #fff;
  }

.galary__radio:nth-of-type(3):checked ~ .galary__controls {
  --scale1: 1;
  --color1: #fff;
  --scale2: 1;
  --color2: #fff;
  --scale3: 1.5;
  --color3: #fab047;
  --scale4: 1;
  --color4: #fff;
  }

.galary__radio:nth-of-type(4):checked ~ .galary__controls {
  --scale1: 1;
  --color1: #fff;
  --scale2: 1;
  --color2: #fff;
  --scale3: 1;
  --color3: #fff;
  --scale4: 1.5;
  --color4: #fab047;
  }

