.article {
  max-width: 1093px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 800px) {
  .article{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
