.footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  list-style: none;
}
@media (max-width: 425px) {
  .footer__social {
   justify-content: space-evenly;
   margin-top: 25px;
  }
}
