.footer__container {
  max-width: 1177px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 730px) {
  .footer__container {
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
  }
}
