.footer__container {
  margin: auto;
  max-width: 1177px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 630px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }   
}