.feedback {
  box-sizing: border-box;
  padding-bottom: 36px;
  min-height: 351px;
  position: relative;
}

@media (max-width: 400px) {
  .feedback {
    min-height: 380px;
  }
}

@media (max-width: 364px) {
  .feedback {
    min-height: 430px;
  }
}
