.first {
  padding: 76px 120px 97px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .first {
    padding: 40px 60px;
  }
}

@media (max-width: 768px) {
  .first{
    padding: 30px 20px;
  }
}
