.article__heading {
  margin: 0 0 24px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #192252;
}
