.card {
  max-width: 384px;
  height: 713px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .card {
    height: min-content;
  }
}
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 20px 30px;
  }
}